<!--Creación de lista.html (Drilling Final, parte 4)-->
<!--Se agrega herencia plantilla base.html-->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="container py-5" id="vehiculo-list">
    <div class="list-v py-3">
      <h1>Listado de Vehículos</h1>
    </div>
  <div class="card" id="card-list"> 
      <table class="table table-hover text-center table-responsive-sm" >
      <thead>
        <tr id="list-tabla">
          <th>MARCA</th>
          <th>MODELO</th>
          <th>SERIAL CARROCERIA</th>
          <th>SERIAL MOTOR</th>
          <th>CATEGORIA</th>
          <th>PRECIO</th>
          <th>CONDICION DE PRECIOS</th>
         </tr>
      </thead>
     {% if listas %}
     {% for lista in listas %}
      <tbody>
        <tr>
          <th>{{lista.marca}}</th>
          <td>{{lista.modelo}}</td>
          <td>{{lista.serial_carroceria}}</td>
          <td>{{lista.serial_motor}}</td>
          <td>{{lista.categoria}}</td>
          <td>${{lista.precio}}.-</td>
          <td> 
            <!--Se usa condicional para obtener Condición de Precios-->
            {% if lista.precio > 30000 %}
                Alto
            {% elif lista.precio > 10000 and lista.precio <= 30000 %}
               Medio
            {% elif lista.precio <= 10000 %}
               Bajo
            {% else %}
                Oops, algo anda mal!
            {% endif%}              
          </td>
          <!--Se agrega button "Modificar"(Drilling Final, Extras)-->
          <!--Se condiona según usuario la opción de botton modificar en la url list.html-->
          {% if perms.vehiculo.add_vehiculomodel %}
          <td><button type="button" class="btn btn-warning" onclick="abrir_modal_modificar('{% url 'modal' lista.id%}')">Modificar
          </button></td>
          {% endif%}
        </tr>
      </tbody>
      {% endfor%}
      {% else %}
      <h1>No existe lista</h1>
      {% endif %}
   </table>
  </div>
  <div class="modal fade" id="modificar" role="dialog">
  </div> 
</div> 
{% endblock  %}
<!--Se agrega código javascripts para el funcinamiento de Modal-->
{% block javascripts%}
<script type="text/javascript">
  function abrir_modal_modificar(url){
    $('#modificar').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock javascripts%}