<!--Se crea login.html (Drilling Final, parte 4)-->
{% extends 'base.html' %}
{% block content %} 
    {% load crispy_forms_tags %}

<!--Login-->
  <div class="container py-5" id="vehiculo-login">
     <h1>Login</h1>
      <form method="POST">
         {% csrf_token %} 
         {{ login_form|crispy }} 
         <button class="btn btn-warning" type="submit" id="btn-submit">Login</button> 
      </form> 
      <p class="text-center py-5" id="p-login"> 
        Si no tienes una cuenta, registrate en 
        <a href="{% url 'registro' %}">Registro</a>, para crear una cuenta
      </p>
  </div> 

{% endblock %}