<!--Se crea modal.html para la button modificar(Drilling Final, Extras)-->
{% load bootstrap5 %}
{% bootstrap_css %} 
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load crispy_forms_tags %}


<div class="modal-dialog bg-light">        
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Vehículo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  <form action="" method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{form | crispy }}          
      </div>
      <div class="modal-footer">
          <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-warning" >Confirmar</button>
          </div>
      </div> 
  </form>
  </div>
</div>  
   